.post-single {
    background-color: #ffffff !important;
    padding: 30px;
    border-radius: 20px !important;
    margin-bottom: 30px;
    margin-top: 30px;
    box-shadow: 0px 5px 20px 0px rgb(69 67 96 / 10%);
}
.post-single-image img {
    border-radius: 20px;
    box-shadow: 0px 5px 20px 0px rgb(69 67 96 / 10%);
}
img{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    margin-top: -60px;
    border-style: none;
    border-radius: 20px;
}

.single-post-title{
    transition: all 0.5s ease-in-out;
    font-size: 20px;
    font-weight: 900;
    line-height: 1.4;
}

.post-single-body {
    margin-top: 30px;
}
.post-single-body-title{
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: 900;
    line-height: 1.4;
    color: #152035;
    margin: 0;
}
.pervious-widget{
    background-color: #ffffff;
    padding: 30px;
    border-radius: 20px;
    margin-bottom: 30px;
    box-shadow: 0px 5px 20px 0px rgb(69 67 96 / 10%);
}
.small-post{
    display: flex;
    margin-bottom: 0;
    position: relative;
}
.small-post .small-post-img{
    width: 90px;
    height: 90px;
    margin-right: 15px;
    overflow: hidden;
    position: relative;
    border-radius: 20px;
}
.small-post .small-post-img .latest-post {
    border-radius: 20px !important;
    width: 90px !important;
    height: 150px !important;
    transition: all 0.9s ease-in-out !important;
}
.latest-post{
    max-width: 100% !important;
}
.latest-post{
    vertical-align: middle;
    border-style: none;
}
.pervious-widget .small-post .content{
    width: calc(100% - 90px);
}
.content-link{
    background-color: #f67280;
    color: #ffffff !important;
    padding: 1px 10px;
    display: inline-flex;
    text-align: center;
    font-size: 13px;
    border-radius: 20px;
    font-weight: 700 !important;
    text-transform: capitalize;
    margin-bottom: 8px;
}
.previous-title{
    font-weight: 900;
    color: #152035;
    margin-bottom: 0;
}
.comment-widget{
    background-color: #ffffff;
    padding: 30px;
    border-radius: 20px;
    margin-bottom: 30px;
    box-shadow: 0px 5px 20px 0px rgb(69 67 96 / 10%);
}
.comment-widget .title{
    margin-bottom: 20px
}
.comment-widget .title .comment-title{
    font-size: 20px;
    font-weight: 900;
    line-height: 1.4;
    color: #152035;
    margin: 0;
}
.comment-widget .comment-widget-section{
    margin-bottom: 70px;
}
.comment-widget-section .comment-item{
    display: flex;
    margin-bottom: 50px;
}
.comment-widget-section .comment-item .author-coment-img{
    width: 80px !important;
    height: 80px !important;
    border-radius: 50%;
    margin-right: 15px;
    margin-top: 0 !important;
}

.author-coment-img{
    max-width: 100% !important;
}
.author-coment-img{
    vertical-align: middle;
    border-style: none;
}
.comment-widget-section .comment-content .comment-info{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.comment-widget-section .comment-content .comment-info .comment-info-text{
    margin-bottom: 0;
    font-size: 14px;
    color: #506172;
    text-transform: capitalize;
    font-weight: 400;
}
.comment-link{
    background-color: #f67280;
    color: #ffffff !important;
    padding: 1px 10px;
    display: inline-flex;
    text-align: center;
    font-size: 13px;
    border-radius: 20px;
    font-weight: 700 !important;
    text-transform: capitalize;
}
.form-widget .form-control-textarea{
    background-color: #F9F9FF;
    border: 1px solid #eee;
    border-radius: 20px;
    padding: 22px 20px;
    font-size: 14px;
    color: #152035;
    display: inline-block;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    margin-bottom: 20px;
}

.form-widget .form-control-input{
    background-color: #F9F9FF;
    border: 1px solid #eee;
    border-radius: 20px;
    padding: 22px 20px;
    font-size: 14px;
    color: #152035;
    display: inline-block;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    margin-bottom: 20px;
}
.form-widget .btn-custom{
    display: inline-flex;
    align-items: center;
    position: relative;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    font-size: 16px;
    font-weight: 600;
    padding: 8px 22px;
    text-transform: capitalize;
    border-radius: 20px;
    background-color: #f67280;
    color: #ffffff;
    border: 0px;
    transition: all 0.5s ease-in-out;
}

.author-widget{
    text-align: center;
}
.author-widget .author-image-container{
    position: relative;
    width: 100px;
    height: 100px;
    left: 35%;
}

.author-image-container .author-image{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 15px;
    margin-top: 0 !important;
    
}
.author-image{
    max-width: 100%;
}

.author-image{
    
    vertical-align: middle;
    border-style: none;
}

.author-widget .author-title{
    font-size: 20px;
    text-align: center;
    margin-bottom: 15px;
    font-weight: 900;
    line-height: 1.4;
    color: #152035;
    margin: 0;
}

/* SIde Post */
.sidebar-widget{
    background-color: #ffffff;
    padding: 30px;
    border-radius: 20px;
    margin-bottom: 30px;
    box-shadow: 0px 5px 20px 0px rgb(69 67 96 / 10%);
}

.latest-post{
    margin-bottom: 30px;
    margin-top: 5px;
}
.latest-post h5{
    font-weight: 900;
    line-height: 1.4;
    color: #152035;
    margin: 0;
    font-size: 20px;
}
.last-post{
    display: flex;
    margin-bottom: 30px;
    position: relative;
}
.last-post .last-post-image{
    width: 90px;
    height: 90px;
    margin-right: 15px;
    margin-top: 0 !important;
    overflow: hidden;
    position: relative;
    border-radius: 20px;
}
.last-post .last-post-image .last-post-img{
    border-radius: 20px;
    width: 90px;
    height: 140px;
    transition: all 0.9s ease-in-out;
}

.last-post-img{
    max-width: 100%;
}
.last-post-img{
    vertical-align: middle;
    border-style: none;
}

.last-post-content{
    width: calc(100% - 90px);
}
.last-post-content p{
    font-weight: 900;
    color: #152035;
    margin-bottom: 0;
    transition: all 0.3s ease-in-out;
}
.last-post-content p:hover{
    color: #f67280;
}
.last-post-content small{
    display: flex;
    align-items: center;
    margin-top: 8px;
    text-transform: capitalize;
    font-size: 13px;
    color: #506172;
    font-weight: 400;
}
.last-post-content small span {
    color: #f67280;
    margin-right: 5px;
    direction: ltr;
}
.categories-widget .categories-div{

    justify-content: space-between;
}
.categories-widget .categories-div .category-widget-link{
    font-weight: 700;
}
.category-widget-link{
    background-color: #f67280;
    color: #ffffff;
    padding: 2px 15px;
    display: inline-block;
    margin: auto;
    text-align: center;
    font-size: 13px;
    border-radius: 20px;
    text-transform: capitalize;
    transition: all 0.5s ease-in-out;
}
.category-widget-test{
    float: right;
    color: #506172;
    padding: 2px 10px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 700;
    margin-left: auto!important;
}

.tag-widget ul li {
    background-color: #F9F9FF;
    padding: 4px 11px;
    margin-bottom: 5px;
    margin-right: 2px;
    border-radius: 20px;
    font-size: 13px;
    text-transform: capitalize;
    color: #506172;
    font-weight: 700;
}
.list-inline li {
    display: inline-block;
}